form {
  width: 280px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 25px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(32, 137, 163, 0.2) 0px 6px 12px 2px;
  font-size: 16px;
}

button {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: rgb(0, 128, 30);
  font-size: 15px;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px rgb;
}
